<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Get Users</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap-grid.css">

    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form th:action="@{/users/}" method="post">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Number of Users to Display:</label>
                        <input id="limit" name="limit" type="number" class="form-control"/>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>