<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap-grid.css">

    <script src="/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="guru.springframework.api.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="panel panel-primary">

                <div class="card">
                    <h1 class="card-header">Users from API</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Email</th>
                                <th>Language</th>
                                <th>Phone</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                                <td>Male</td>
                                <td>foo@example.com</td>
                                <td>English</td>
                                <td>132-123-1234</td>
                            </tr>
                            <tr th:remove="all">
                                <td>Joe</td>
                                <td>Buck</td>
                                <td>Male</td>
                                <td>foo@example.com</td>
                                <td>English</td>
                                <td>132-123-1234</td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.name.first}">Joe</td>
                                <td th:text="${user.name.last}">Buck</td>
                                <td th:text="${user.gender}">Male</td>
                                <td th:text="${user.email}">foo@example.com</td>
                                <td th:text="${user.language}">English</td>
                                <td th:text="${user.phone}">132-123-1234</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>